body {
	background-color: #000000;
	color: #ede0ce;
}

.container {
	padding: 8%;
	padding-bottom: 2%;
	padding-top: 2%;
	width: 75%;
	background-color: #2b2a27;
}

.heading {
	color: #bcd42a;
	padding-bottom: 15px;
}

.heading p {
	color: #FFFFFF;
}

h2 {
	color: #bcd42a;
}

.btn {
	margin-top: 15px;
}

.btn-default {
	background-color: #2b2a27;
	color: #FFFFFF;
}

.button {
	margin-left: 46%;
}

#output {
	margin-top: 5%;
	background-color: black;
	color: #bcd42a;
}

.footer {
	background-color: #2b2a27;
	opacity: 0.95;
	text-align: center;
}