body {
	background-color: #000000;
	background-position: center;
	background-image: url('Resume.jpeg');
	background-repeat: repeat;
	color: #ede0ce;
}

.container {
	padding: 2%;
	background-color: #2b2a27;
	opacity: 0.95;
}

.heading {
	color: #bcd42a;
	padding-bottom: 15px;
}

.heading p {
	color: #FFFFFF;
}

h2 {
	color: #bcd42a;
}

.btn {
	margin-top: 15px;
}

.btn-default {
	background-color: #2b2a27;
	color: #FFFFFF;
}

.button {
	margin-left: 46%;
}

.footer {
	background-color: #2b2a27;
	opacity: 0.95;
	text-align: center;
}